*{
    padding:0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}
.container{
    margin: 0px auto;
    width: 1300px;
    height: 40px;
}


.header{
    height: 30px;
    width: 100%;
    background: #007878;
}

.header1{
    /* padding-top: 9px; */
    display: flex;
    justify-content: space-between;

}

.h1{
    /* padding-top: 9px; */
    display: flex;
    color: white;
}

.h1 p{
    padding-top: 4px;
}

.h1 img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.header1 .h2{
    width: 400px;
    height: 25px; 
}

.h2 .UL{
    padding-top: 4px;
    display: flex;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
}

.h2 .UL li{
    border-left: 2px solid white;
    margin-right: 30px;
}

.h2 .UL .li{
    border: none;
}

.header2{
    position: relative;
    display: flex; 
    justify-content: space-between;
    height: 100px;
}

.header2 .h1{
    width: 156px;
    height: 40px;
    font-family: Palanquin;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 100%;
color: black;
padding-top: 28px;
}

.header2 .h2{
    padding-top: 28px;
}

.header2 .h2 input{
    border: none;
    padding-left: 20px;
width: 504px;
height: 48px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
color: #AAAAAA;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header2 .h2 img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 710px;
    top: 45px;
}

.header2 .h3{
    width: 86px;
    height: 24px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
color: black;
padding-top: 40px;
}

.header2 .h3 h6{
    position: absolute;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
color: black;
right: 365px;
top: 44px;
}
/* .header .h3 img{
    width: 24px;
    height: 24px;
} */

.header2 .h4{
    padding: 40px;
    width: 86px;
    height: 24px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
position: relative;
}

.header2 .h4 h6{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
position: relative;
/* top: 40px; */
right:  -34px;
bottom: 22px;
}

.header2 .h5 {
    padding: 40px;
    width: 79px;
    height: 24px;
}

.header2 .h5 h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    position: absolute;
    right: -33px;
top: 47px;
}

.header3{
    margin: 0px 120px;
    width: 800px;
    height: 60px;
}

.header3 .ul2{
    display: flex;
    /* width: 78px;
    height: 27px; */
}

.header3 .ul2 li{
    /* width: 78px;
    height: 27px; */
    margin-right: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
}

.header3 .ul2 .li{
   font-weight: bold;
}

.main{
    width: 1530px;
    height: 584px;
   background: #FFE2E0;
}
.main1{
    display: flex;
    position: relative;
    /* justify-content: flex-end; */
 padding-top: 20px;
}
.main1-1{
    margin-top: 90px;
width: 642px;
height: 470px;
position: relative;

}
.main1-1 h6{
    position: absolute;
    left: 100px;
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 170%;
color: #DF4244;
}
.main1-1 h1{
    font-family: Rubik;
font-style: normal;
position:absolute;
left: 102px;
font-weight: bold;
font-size: 40px;
line-height: 170%;
color: #212121;
padding:40px 0px;
}
.main1-2{
width: 642px;
height: 535px;
background-image: url(./7771326b48a2887aa224f1621090d07b\ 1.png);
}

.main1-1 p{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(33, 33, 33, 0.75);
padding-bottom: 30px 0px;
position: absolute;
width: 453px;
height: 90px;
left: 30px;
top: 150px;
}

.main1-1 button{
    position: absolute;
    width: 192px;
    height: 52px;
    left: 120px;
    top: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
    background-color: #007878;
    border: none;
}

.mini{
    position: relative;
    top: 450px;
    left: 120px;
    display: flex;
       justify-content: space-between;
    width: 80px;
    height: 20px;
}

.mini .mini1{
    width: 12px;
height: 12px;
border-radius: 50%;
background: rgba(32, 99, 99, 0.25);
}
.mini .mini2{
    width: 12px;
height: 12px;
border-radius: 50%;
background: rgba(32, 99, 99, 0.25);
}
.mini .mini3{
    width: 26px;
height: 12px;
background: #DF4244;
border-radius: 8px;
}

.section{
    width: 100%;
    height: 100px;
    background: #F7F7F7;
    display: flex;
}

.section .sec{
margin: 0px auto;
padding-top: 20px;
display: flex;
width: 1127px;
height: 68px;
justify-content: space-between;
}

.section .sec .sec1{
    width: 222px;
height: 48px;
font-family: Poppins;
display: flex;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
}

.section .sec .sec1 img{
 width: 48px;
 height: 48p;
}
.section .sec .sec2{
    width: 203px;
    height: 48px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
display: flex;
}
.section .sec .sec2 img{
    width: 48px;
    height: 48p;
   }
.section .sec .sec3{
    width: 266px;
    height: 48px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
display: flex;
}
.section .sec .sec3 img{
    width: 48px;
    height: 48p;
   }
.section .sec .sec4{
    width: 295px;
height: 48px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
display: flex;
font-size: 16px;
line-height: 170%;
color: #000000;
}

.section .sec .sec4 img{
    width: 48px;
    height: 48p;
   }


.section2{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.section2 .s1{
    width: 264px;
height: 162px;
background-color: #F7F7F7;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170%;
position: relative;
/* background-image: url(./11.jpg); */
}
.section2 .s1 img{
    position: absolute;
    bottom: -7px;
    left: 0px;
}
.section2 .s2{
    width: 264px;
height: 162px;
background: #F7F7F7;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170%;
position: relative;
}
.section2 .s2 img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section2 .s3{
    width: 264px;
height: 162px;
background: #F7F7F7;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170%;
position: relative;
}
.section2 .s3 img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section2 .s4{
    width: 264px;
height: 162px;
background: #F7F7F7;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170%;
position: relative;
}
.section2 .s4 img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.section2 .s4 .m{
    padding-left: 14px;
    padding-top:2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    font-weight: 800;
    bottom: 55px;
    font-size: 20px;
    right: -20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section2-2{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.section2-2 .a{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section2-2 .a .a1{
    width: 290px;
    height: 54px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 170%;
    /* or 54px */
}

.section2-2 .a .a2{
    width: 137px;
height: 27px;
padding-top: 20px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
display: flex;
align-items: center;
text-align: center;
 position: relative;
color: #000000;
}

.a2 h3{
    position: absolute;
width: 20px;
height: 20px;
bottom: -3px;
right: -1px;
}

.section2-2 .b{
    height: 550px;
    display: flex;
   /* align-content: space-between; */
justify-content: space-between;
position: relative;
}

.section2-2 .b .b1{
    width: 360px;
height: 508px;
background: white;
border-radius: 8px;
border: 1px solid grey;
margin-right: 103px;
}

.section2-2 .b .b2{
    width: 360px;
height: 508px;
background: white;
border-radius: 8px;
border: 1px solid grey;
margin-right: 103px;
}

.section2-2 .b .b3{
    width: 360px;
height: 508px;
background: white;
border-radius: 8px;
border: 1px solid grey;
}

.section2-2 .b .b1 .new{
position: absolute;
width: 79px;
height: 32px;
left:10px;
bottom: 510px;
border-radius: 8px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-image: url(./new.png);
}

.section2-2 .b .b1 .new h5{
    position: absolute;
    width: 35px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%; 
    left: 24px;
    color: #FFFFFF;
}

.section2-2 .b .b1 .img{
width: 218px;
height: 243px;
position:absolute;
left: 61px;
top: 3px;
background-image: url(./kisspng-bag-laptop-backpack-knomo-beauchamp-5b0bf6a37cde46\ 7.png);
}

.section2-2 .b .b1 .icon{
    position: absolute;
width: 22px;
height: 22px;
left: 320px;
top: 9px;
background-image: url(./Group\ 25536.png);
}

.section2-2 .b .b1 .star{
position: absolute;
width: 94px;
height: 14px;
left: 14px;
bottom: 232px;
background-image: url(./star.png);
}
.section2-2 .b .b1 .p{
    position: absolute;
width: 302px;
height: 54px;
left: 14px;
bottom: 162px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: #000000;
}

.section2-2 .b .b1 .salary{
    position: absolute;
width: 73px;
height: 34px;
left: 14px;
bottom: 112px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 170%;
color: #F75145;
}

.section2-2 .b .b1 .from{
    position: absolute;
width: 106px;
height: 27px;
left: 105px;
bottom: 117px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(54, 54, 54, 0.75);
}

.section2-2 .b .b1 .card{
    position: absolute;
width: 312px;
height: 48px;
left: 14px;
bottom: 56px;

border: 1px solid #212121;
box-sizing: border-box;
border-radius: 8px;
}
.section2-2 .b .b1 .card h5{
    text-align: center;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
padding-top: 10px;
color: #212121;
}


.section2-2 .b .b2 .new{
position: absolute;
width: 79px;
height: 32px;
left:470px;
bottom: 510px;
border-radius: 8px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-image: url(./new2.png);
border: none;
}

.section2-2 .b .b2 .new h5{
    position: absolute;
    width: 35px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%; 
    left: 24px;
    /* color: #FFFFFF; */
}

.section2-2 .b .b2 .img{
width: 218px;
height: 243px;
position:absolute;
left: 521px;
top: 28px;
background-image: url(./kisspng-handbag-baggage-hand-luggage-leather-women-bag-5acd4069b62017.png);
}

.section2-2 .b .b2 .icon{
    position: absolute;
width: 22px;
height: 22px;
left: 780px;
top: 9px;
background-image: url(./Group\ .png);
}

.section2-2 .b .b2 .star{
position: absolute;
width: 94px;
height: 14px;
left: 484px;
bottom: 232px;
background-image: url(./star.png);
}
.section2-2 .b .b2 .p{
    position: absolute;
width: 302px;
height: 54px;
left: 484px;
bottom: 162px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: #000000;
}

.section2-2 .b .b2 .salary{
    position: absolute;
width: 73px;
height: 34px;
left: 484px;
bottom: 112px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 170%;
color: #F75145;
}

.section2-2 .b .b2 .from{
    position: absolute;
width: 106px;
height: 27px;
left: 585px;
bottom: 117px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(54, 54, 54, 0.75);
}

.section2-2 .b .b2 .card{
    position: absolute;
width: 312px;
height: 48px;
left: 484px;
bottom: 56px;

border: 1px solid #212121;
box-sizing: border-box;
border-radius: 8px;
}

.section2-2 .b .b2 .card h5{
    text-align: center;
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
padding-top: 10px;
color: #212121;
}

    
    .section2-2 .b .b3 .img{
    width: 218px;
    height: 243px;
    position:absolute;
    left: 990px;
    top: 17px;
    background-image: url(./kisspng-handbag-satchel-leather-coach-inc-tapestry-5adb94da175541\ 2.png);
    }
    
    .section2-2 .b .b3 .icon{
        position: absolute;
    width: 22px;
    height: 22px;
    left: 1250px;
    top: 9px;
    background-image: url(./Group\ .png);
    }
    
    .section2-2 .b .b3 .star{
    position: absolute;
    width: 94px;
    height: 14px;
    left: 950px;
    bottom: 232px;
    background-image: url(./star.png);
    }
    .section2-2 .b .b3 .p{
        position: absolute;
    width: 302px;
    height: 54px;
    left: 950px;
    bottom: 162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
    .section2-2 .b .b3 .salary{
        position: absolute;
    width: 73px;
    height: 34px;
    left: 950px;
    bottom: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F75145;
    }
    
    .section2-2 .b .b3 .from{
        position: absolute;
    width: 106px;
    height: 27px;
    left: 1050px;
    bottom: 117px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(54, 54, 54, 0.75);
    }
    
    .section2-2 .b .b3 .card{
        position: absolute;
    width: 312px;
    height: 48px;
    left: 950px;
    bottom: 56px;
    
    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 8px;
    }
    
    .section2-2 .b .b3 .card h5{
        text-align: center;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    padding-top: 10px;
    color: #212121;
    }
    
    .section3{
        width: 100%;
        height: 738px;
        background: #FFF7F7;
    }

    .section3 .c{
        height: 600px;
        margin: 0px auto;
    }


    .section3 .cv{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .section3 .cv .c1{
        width: 290px;
        height: 54px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 170%;
        /* or 54px */
    }
    
    .section3 .c .cv  .c2{
        width: 137px;
    height: 27px;
    padding-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    text-align: center;
     position: relative;
    color: #000000;
    }
    
    .c2 h3{
        position: absolute;
    width: 20px;
    height: 20px;
    bottom: -3px;
    right: -1px;
    }


    .section3 .b{
        height: 550px;
        display: flex;
       /* align-content: space-between; */
    justify-content: space-between;
    position: relative;
    }
    
    .section3 .b .b1{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    margin-right: 103px;
    }
    
    .section3 .b .b2{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    margin-right: 103px;
    }
    
    .section3 .b .b3{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    }
    
    .section3 .b .b1 .new{
    position: absolute;
    width: 79px;
    height: 32px;
    left:10px;
    bottom: 510px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(./new.png);
    }
    
    .section3 .b .b1 .new h5{
        position: absolute;
        width: 35px;
        height: 27px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%; 
        left: 24px;
        color: #FFFFFF;
    }
    
    .section3 .b .b1 .img{
    width: 218px;
    height: 243px;
    position:absolute;
    left: 61px;
    top: 3px;
    background-image: url(./1bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
    
    .section3 .b .b1 .icon{
        position: absolute;
    width: 22px;
    height: 22px;
    left: 320px;
    top: 9px;
    background-image: url(./Group\ 25536.png);
    }
    
    .section3 .b .b1 .star{
    position: absolute;
    width: 94px;
    height: 14px;
    left: 14px;
    bottom: 232px;
    background-image: url(./star.png);
    }
    .section3 .b .b1 .p{
        position: absolute;
    width: 302px;
    height: 54px;
    left: 14px;
    bottom: 162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
    .section3 .b .b1 .salary{
        position: absolute;
    width: 73px;
    height: 34px;
    left: 14px;
    bottom: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F75145;
    }
    
    .section3 .b .b1 .from{
        position: absolute;
    width: 106px;
    height: 27px;
    left: 105px;
    bottom: 117px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(54, 54, 54, 0.75);
    }
    
    .section3 .b .b1 .card{
        position: absolute;
    width: 312px;
    height: 48px;
    left: 14px;
    bottom: 56px;
    
    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 8px;
    }
    .section3 .b .b1 .card h5{
        text-align: center;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    padding-top: 10px;
    color: #212121;
    }
    
    
    .section3 .b .b2 .new{
    position: absolute;
    width: 79px;
    height: 32px;
    left:470px;
    bottom: 510px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(./new2.png);
    border: none;
    }
    
    .section3 .b .b2 .new h5{
        position: absolute;
        width: 35px;
        height: 27px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%; 
        left: 24px;
        /* color: #FFFFFF; */
    }
    
    .section3 .b .b2 .img{
    width: 218px;
    height: 243px;
    position:absolute;
    left: 521px;
    top: 28px;
    background-image: url(./2bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     
    }
    
    .section3 .b .b2 .icon{
        position: absolute;
    width: 22px;
    height: 22px;
    left: 780px;
    top: 9px;
    background-image: url(./Group\ .png);
    }
    
    .section3 .b .b2 .star{
    position: absolute;
    width: 94px;
    height: 14px;
    left: 484px;
    bottom: 232px;
    background-image: url(./star.png);
    }
    .section3 .b .b2 .p{
        position: absolute;
    width: 302px;
    height: 54px;
    left: 484px;
    bottom: 162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
    .section3 .b .b2 .salary{
        position: absolute;
    width: 73px;
    height: 34px;
    left: 484px;
    bottom: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F75145;
    }
    
    .section3 .b .b2 .from{
        position: absolute;
    width: 106px;
    height: 27px;
    left: 585px;
    bottom: 117px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(54, 54, 54, 0.75);
    }
    
    .section3 .b .b2 .card{
        position: absolute;
    width: 312px;
    height: 48px;
    left: 484px;
    bottom: 56px;
    
    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 8px;
    }
    
    .section3 .b .b2 .card h5{
        text-align: center;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    padding-top: 10px;
    color: #212121;
    }
    
        
        .section3 .b .b3 .img{
        width: 218px;
        height: 243px;
        position:absolute;
        left: 990px;
        top: 17px;
        background-image: url(./3bag.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        }
        
        .section3 .b .b3 .icon{
            position: absolute;
        width: 22px;
        height: 22px;
        left: 1250px;
        top: 9px;
        background-image: url(./Group\ .png);
        }
        
        .section3 .b .b3 .star{
        position: absolute;
        width: 94px;
        height: 14px;
        left: 950px;
        bottom: 232px;
        background-image: url(./star.png);
        }
        .section3 .b .b3 .p{
            position: absolute;
        width: 302px;
        height: 54px;
        left: 950px;
        bottom: 162px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: #000000;
        }
        
        .section3 .b .b3 .salary{
            position: absolute;
        width: 73px;
        height: 34px;
        left: 950px;
        bottom: 112px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 170%;
        color: #F75145;
        }
        
        .section3 .b .b3 .from{
            position: absolute;
        width: 106px;
        height: 27px;
        left: 1050px;
        bottom: 117px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: rgba(54, 54, 54, 0.75);
        }
        
        .section3 .b .b3 .card{
            position: absolute;
        width: 312px;
        height: 48px;
        left: 950px;
        bottom: 56px;
        
        border: 1px solid #212121;
        box-sizing: border-box;
        border-radius: 8px;
        }
        
        .section3 .b .b3 .card h5{
            text-align: center;
            font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        padding-top: 10px;
        color: #212121;
        }

     .fotter{
         width: 100%;
         height: 1436px;
     } 
     
     
     .fotter1{
         height: 818px;
     }




     .fotter1 .cv{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .fotter1 .cv .c1{
        width: 290px;
        height: 54px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 170%;
        /* or 54px */
    }
    
    .fotter1 .c .cv  .c2{
        width: 137px;
    height: 27px;
    padding-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    text-align: center;
     position: relative;
    color: #000000;
    }
    
    .fotter1 .cv .c2 h3{
        position: absolute;
    width: 20px;
    height: 20px;
    bottom: -3px;
    right: -10px;
    }


    .fotter1 .b{
        height: 550px;
        display: flex;
       /* align-content: space-between; */
    justify-content: space-between;
    position: relative;
    }
    
    .fotter1 .b .b1{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    margin-right: 103px;
    }
    
    .fotter1 .b .b2{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    margin-right: 103px;
    }
    
    .fotter1 .b .b3{
        width: 360px;
    height: 508px;
    background: #F9F9F9;
    border-radius: 8px;
    border: 1px solid grey;
    }
    
    .fotter1 .b .b1 .new{
    position: absolute;
    width: 79px;
    height: 32px;
    left:10px;
    bottom: 510px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(./new.png);
    }
    
    .fotter1 .b .b1 .new h5{
        position: absolute;
        width: 35px;
        height: 27px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%; 
        left: 24px;
        color: #FFFFFF;
    }
    
    .fotter1 .b .b1 .img{
    width: 218px;
    height: 243px;
    position:absolute;
    left: 61px;
    top: 3px;
    background-image: url(./1bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
    
    .fotter1 .b .b1 .icon{
        position: absolute;
    width: 22px;
    height: 22px;
    left: 320px;
    top: 9px;
    background-image: url(./Group\ 25536.png);
    }
    
    .fotter1 .b .b1 .star{
    position: absolute;
    width: 94px;
    height: 14px;
    left: 14px;
    bottom: 232px;
    background-image: url(./star.png);
    }
    .fotter1 .b .b1 .p{
        position: absolute;
    width: 302px;
    height: 54px;
    left: 14px;
    bottom: 162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
    .fotter1 .b .b1 .salary{
        position: absolute;
    width: 73px;
    height: 34px;
    left: 14px;
    bottom: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F75145;
    }
    
    .fotter1 .b .b1 .from{
        position: absolute;
    width: 106px;
    height: 27px;
    left: 105px;
    bottom: 117px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(54, 54, 54, 0.75);
    }
    
    .fotter1 .b .b1 .card{
        position: absolute;
    width: 312px;
    height: 48px;
    left: 14px;
    bottom: 56px;
    
    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 8px;
    }

    .fotter1 .b .b1 .card h5{
        text-align: center;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    padding-top: 10px;
    color: #212121;
    }
    
    
    .fotter1 .b .b2 .new{
    position: absolute;
    width: 79px;
    height: 32px;
    left:470px;
    bottom: 510px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(./new2.png);
    border: none;
    }
    
    .fotter1 .b .b2 .new h5{
        position: absolute;
        width: 35px;
        height: 27px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%; 
        left: 24px;
        /* color: #FFFFFF; */
    }
    
    .fotter1 .b .b2 .img{
    width: 218px;
    height: 243px;
    position:absolute;
    left: 521px;
    top: 28px;
    background-image: url(./2bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     
    }
    
    .fotter1 .b .b2 .icon{
        position: absolute;
    width: 22px;
    height: 22px;
    left: 780px;
    top: 9px;
    background-image: url(./Group\ .png);
    }
    
    .fotter1 .b .b2 .star{
    position: absolute;
    width: 94px;
    height: 14px;
    left: 484px;
    bottom: 232px;
    background-image: url(./star.png);
    }
    .fotter1 .b .b2 .p{
        position: absolute;
    width: 302px;
    height: 54px;
    left: 484px;
    bottom: 162px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
    .fotter1 .b .b2 .salary{
        position: absolute;
    width: 73px;
    height: 34px;
    left: 484px;
    bottom: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F75145;
    }
    
    .fotter1 .b .b2 .from{
        position: absolute;
    width: 106px;
    height: 27px;
    left: 585px;
    bottom: 117px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(54, 54, 54, 0.75);
    }
    
    .fotter1 .b .b2 .card{
        position: absolute;
    width: 312px;
    height: 48px;
    left: 484px;
    bottom: 56px;
    
    border: 1px solid #212121;
    box-sizing: border-box;
    border-radius: 8px;
    }
    
    .fotter1 .b .b2 .card h5{
        text-align: center;
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    padding-top: 10px;
    color: #212121;
    }
    
        
    .fotter1 .b .b3 .img{
        width: 218px;
        height: 243px;
        position:absolute;
        left: 990px;
        top: 17px;
        background-image: url(./3bag.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        }
        
        .fotter1 .b .b3 .icon{
            position: absolute;
        width: 22px;
        height: 22px;
        left: 1250px;
        top: 9px;
        background-image: url(./Group\ .png);
        }
        
        .fotter1 .b .b3 .star{
        position: absolute;
        width: 94px;
        height: 14px;
        left: 950px;
        bottom: 232px;
        background-image: url(./star.png);
        }
        .fotter1 .b .b3 .p{
            position: absolute;
        width: 302px;
        height: 54px;
        left: 950px;
        bottom: 162px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: #000000;
        }
        
        .fotter1 .b .b3 .salary{
            position: absolute;
        width: 73px;
        height: 34px;
        left: 950px;
        bottom: 112px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 170%;
        color: #F75145;
        }
        
        .fotter1 .b .b3 .from{
            position: absolute;
        width: 106px;
        height: 27px;
        left: 1050px;
        bottom: 117px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: rgba(54, 54, 54, 0.75);
        }
        
        .fotter1 .b .b3 .card{
            position: absolute;
        width: 312px;
        height: 48px;
        left: 950px;
        bottom: 56px;
        
        border: 1px solid #212121;
        box-sizing: border-box;
        border-radius: 8px;
        }
        
        .fotter1 .b .b3 .card h5{
            text-align: center;
            font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        padding-top: 10px;
        color: #212121;
    }
     .fotter2{
            height: 115px;
            background: #F7F7F9;
            border-bottom: 1px solid gainsboro;
            display: flex;
            position: relative;
    }

.fotter2 .f1{
    position: relative;
}

   .footer2 .f .f1 h1{
    position: absolute;
   bottom: 0px;
width: 156px;
height: 40px;
font-family: Palanquin;
position: absolute;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 100%;
color: #000000;
   }




   .fotter2 .f2{
    padding-top: 28px;
    position: relative;
}

.fotter2 .f2 input{
    border: none;
    padding-left: 20px;
width: 504px;
height: 48px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
color: #AAAAAA;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
position: absolute;
right: 10px;
top: 5px;
}

.fotter2 .f2 img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 20px;
    top: 20px;
}

.fotter3{
    height: 431px;
    background: #F7F7F9;
    position: relative;
}
.fotter3 .f pre{
    position: absolute;
    left: 201px;
    top: 56px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(33, 33, 33, 0.75);
}

.fotter3 .f .mail{
    position: absolute;
width: 22px;
height: 22px;
left: 201px;
bottom:200px;
}

.fotter3 .f .mail-p{
    position: absolute;
width: 172px;
height: 27px;
left: 240px;
bottom:200px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(33, 33, 33, 0.75);
}

.fotter3 .f .phone-p{
    left: 240px;
    bottom:150px;
    position: absolute;
width: 172px;
height: 27px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 170%;
color: rgba(33, 33, 33, 0.75);
}

.fotter3 .f .phone{
    position: absolute;
width: 22px;
height: 22px;
left: 201px;
bottom:150px;
transform: rotate(90deg);
}


.fotter3 .f .li h5{
    position: absolute;
width: 45px;
height: 31px;
left: 752px;
top: 54px;
font-family: Rubik;
font-style: normal;
font-weight: 900;
font-weight: bold;
font-size: 18px;
line-height: 170%;
color: #212121;
}
.fotter3 .f .li1{
    position: absolute;
    width: 85px;
    height: 31px;
    left: 752px;
    top: 80px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
}
.fotter3 .f .li2{
    width: 45px;
height: 31px;
left: 752px;
top: 140px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li3{
    width: 100px;
height: 31px;
left: 752px;
top: 175px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li4{
    width: 100px;
    height: 31px;
    left: 752px;
    top: 210px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
    position: absolute;
}
.fotter3 .f .li5{
    position: absolute;
width: 45px;
height: 31px;
left: 952px;
top: 54px;
font-family: Rubik;
font-style: normal;
font-weight: 900;
font-weight: bold;
font-size: 18px;
line-height: 170%;
color: #212121;
}

.fotter3 .f .li6{
    position: absolute;
    width: 85px;
    height: 31px;
    left: 952px;
    top: 80px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
}
.fotter3 .f .li7{
    width: 45px;
height: 31px;
left: 952px;
top: 110px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li8{
    width: 100px;
height: 31px;
left: 952px;
top: 140px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li9{
    width: 180px;
    height: 31px;
    left: 952px;
    top: 170px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
    position: absolute;
}

.fotter4{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.fotter4 .reser {
    /* position: absolute; */
width: 206px;
height: 27px;
/* left: 202px;
bottom: 86px; */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 27px */

display: flex;
align-items: center;
text-align: center;

color: rgba(33, 33, 33, 0.75);
}





.fotter3 .f .li10{
    position: absolute;
width: 45px;
height: 31px;
right: 299px;
top: 54px;
font-family: Rubik;
font-style: normal;
font-weight: 900;
font-weight: bold;
font-size: 18px;
line-height: 170%;
color: #212121;
}

.fotter3 .f .li11{
    position: absolute;
    width: 85px;
    height: 31px;
    right: 257px;
    top: 80px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
}
.fotter3 .f .li12{
    width: 45px;
height: 31px;
right: 299px;
top: 110px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li13{
    width: 100px;
height: 31px;
right: 245px;
top: 140px;
font-family: Rubik;
font-style: normal;
font-size: 18px;
line-height: 170%;
color: #212121;
position: absolute;
}
.fotter3 .f .li14{
    width: 180px;
    height: 31px;
    right: 165px;
    top: 200px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 170%;
    color: #212121;
    position: absolute;
}
.fotter3 .f .img2 img{
    position: absolute;
width: 179px;
height: 48px;
left: 202px;
bottom: 45px;
}

.fotter4 {
    position: relative;
}

.fotter4 .reser img{
    position: absolute;
    left: 201px;
    bottom: 30px;
}

.fotter .icon-div .cv1{
    position: absolute;
width: 20px;
height: 20px;
right: 205px;
bottom: 30px;
}
.fotter .icon-div .cv2{
    position: absolute;
width: 20px;
height: 20px;
right: 170px;
bottom: 30px;
}
.fotter .icon-div .cv3{
    position: absolute;
width: 20px;
height: 20px;
right: 140px;
bottom: 30px;
}
